i.fas,
i.fab {
  border: 1px solid blue;
}

.fa-fish {
  color: salmon;
}

.fa-frog {
  color: green;
}

.fa-user-ninja.vanished {
  opacity: 0.0;
}

.fa-facebook {
  color: rgb(59, 91, 152);
}